<div class="row">	
    <div class="col-xs-12">
        <h4>Orcamento</h4>
        <hr>
    </div>
</div>

<div class="form-group">
    <label for="name">Descrissão</label>
    <input type="text" name="descrissao" class="form-control" placeholder="Enter you full name" value="<%= orcamento.desc %>">
</div>

<div class="form-group">
    <label for="name">Instituição/Empresa</label>
    <input type="text" name="name" class="form-control" placeholder="Enter you institucao" value="<%= orcamento.instituicao %>">
</div>

<div class="form-group">
    <label for="name">Curso</label>
    <input type="text" name="name" class="form-control" placeholder="Enter you curso" value="<%= orcamento.curso %>">
</div>

<div class="form-group">
    <label for="name">Arte do Uniforme</label>
		<input type="file" name="images3" class="form-control" value="<%= orcamento.arte_uniforme %>">
</div>

<input type="hidden" name="_id" value="<%= orcamento.id %>" >

<div class="form-group">
    <button type="submit" class="btn btn-red-dark-default">Save</button>
</div>